@media only screen and (max-width: 1200px) {
    .word {
        &__search {
            &-form {
                width: 70%;
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .word {
        &__search {
            &-form {
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 550px) {
    .word {
        &__search {
            &-form {
                width: 70%;
            }
            &-wrapper {
                flex-direction: column;
                align-items: center;
                input {
                    margin-right: 0px;
                    padding: 0 10px;
                    width: 100%;
                    margin-bottom: 20px;
                }
            }
        }
    }
}